<%
local api = require "luci.model.cbi.passwall.api.api"
local console_port = api.uci_get_type("global_haproxy", "console_port", "")
-%>
<p id="_status"></p>

<script type="text/javascript">//<![CDATA[
	XHR.poll(3, '<%=api.url("status")%>', null,
		function(x, json) {
			if (x && x.status == 200) {
				var _status = document.getElementById('_status');
				if (_status) {
					if (json.haproxy_status) {
						_status.innerHTML = '<input type="button" class="cbi-button cbi-input-apply" value="<%:Enter interface%>" onclick="openwebui()" />';
					}
				}
			}
		});
		
	function openwebui(){
		var url = window.location.host + ":<%=console_port%>";
		window.open('http://' + url, 'target', '');
	}
//]]></script>