<%#
 Copyright 2018 Lienol
 Licensed to the public under the Apache License 2.0.
-%>

<%
local dsp = require "luci.dispatcher"
-%>

<script type="text/javascript">
	//<![CDATA[
	var ssr_python_users_status = document.getElementsByClassName('ssr_python_users_status');
	for(var i = 0; i < ssr_python_users_status.length; i++) {
		var id_div = ssr_python_users_status[i].parentElement.parentElement.parentElement.id;
		var port_div = document.getElementById(id_div+"-port");
		var port = port_div.outerText;
		XHR.poll(1,'<%=dsp.build_url("admin/vpn/passwall_server/ssr_python_users_status")%>', {
				index: i,
				port: port
			},
			function(x, result) {
				ssr_python_users_status[result.index].innerHTML = (result.status ? '<font color=green><%:RUNNING%> ✓</font>' : '<font color=red><%:NOT RUNNING%> X</font>');
			}
		);
	}
	//]]>
</script>