<%#
 Copyright 2018 Lienol
 Licensed to the public under the Apache License 2.0.
-%>

<%
local dsp = require "luci.dispatcher"
local ipkg = require "luci.model.ipkg"
-%>

<% include("cbi/map") %>
<script type="text/javascript">//<![CDATA[
	var ssr_python_status = document.getElementsByClassName('ssr_python_status');
	<% if ipkg.installed("python") then %>
		XHR.poll(2, '<%=luci.dispatcher.build_url("admin", "vpn", "passwall_server", "ssr_python_status")%>', null,
			function(x, result)
			{
				ssr_python_status[0].innerHTML = result.status?'<b><font color=green><%=translate("RUNNING")%></font></b>':'<b><font color=red><%=translate("NOT RUNNING")%></font></b>';
			}
		)
	<% else %>
		ssr_python_status[0].innerHTML = '<b><font color=red><%=translate("NOT INSTALLED")%><br><%=translate("please Install the python")%><br>opkg update && opkg install python</font></b>';
	<% end %>
//]]>
</script>
