<%
	local tcp_redir_server_num = luci.sys.exec("echo -n `uci get passwall.@global_other[0].tcp_redir_server_num`")
	local udp_redir_server_num = luci.sys.exec("echo -n `uci get passwall.@global_other[0].udp_redir_server_num`")
	local socks5_proxy_num = luci.sys.exec("echo -n `uci get passwall.@global_other[0].socks5_proxy_server_num`")
-%>
<style>
.apply a:hover{
	text-decoration : underline;
}
</style>

<%+cbi/valueheader%>
<span class="apply" hint="<%=self:cfgvalue(section)%>">
	<% if tcp_redir_server_num and tonumber(tcp_redir_server_num) >= 1 then %>
		<% for i = 1, tcp_redir_server_num, 1 do %>
			<a href="javascript:set_server('tcp',<%=i%>,'<%=section%>')">TCP<%=i%></a>
		<% end %>
	<% end %>
	
	<% if udp_redir_server_num and tonumber(udp_redir_server_num) >= 1 then %>
		<% for i = 1, udp_redir_server_num, 1 do %>
			<a href="javascript:set_server('udp',<%=i%>,'<%=section%>')">UDP<%=i%></a>
		<% end %>
	<% end %>
	
	<% if socks5_proxy_num and tonumber(socks5_proxy_num) >= 1 then %>
		<% for i = 1, socks5_proxy_num, 1 do %>
			<a href="javascript:set_server('socks5',<%=i%>,'<%=section%>')">Socks5_<%=i%></a>
		<% end %>
	<% end %>
	<!-- <a href="javascript:copy_server('<%=section%>')">Copy</a> -->
</span>
<%+cbi/valuefooter%>