<%#
 Copyright 2018 Lienol <lienol@qq.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local ipkg=require"luci.model.ipkg"
local function is_finded(e)
	local result=luci.sys.exec("find /usr/*bin -iname "..e.." -type f")
	if result~="" then
		return true
	end
	return false
end

local function has_udp_relay()
    return luci.sys.call("lsmod | grep TPROXY >/dev/null") == 0
end
-%>

<fieldset id="_ss_status_fieldset" class="cbi-section">
	<legend><%:Running Status%></legend>
	<fieldset class="cbi-section">
		<div class="cbi-value">
			<label class="cbi-value-title">TCP<%:Status%></label>
			<div class="cbi-value-field" id="_tcp_redir_status"><%:Collecting data...%></div>
		</div>
		<% if has_udp_relay() then %>
		<div class="cbi-value">
			<label class="cbi-value-title">UDP<%:Status%></label>
			<div class="cbi-value-field" id="_udp_redir_status"><%:Collecting data...%></div>
		</div>
		<% end %>
		<div class="cbi-value">
			<label class="cbi-value-title">Socks5<%:Status%></label>
			<div class="cbi-value-field" id="_socks5_proxy_status"><%:Collecting data...%></div>
		</div>
		<% if ipkg.installed("haproxy") or is_finded("haproxy*") then %>
		<div class="cbi-value">
			<label class="cbi-value-title"><%:Load Balancing%></label>
			<div class="cbi-value-field" id="_haproxy_status"><%:Collecting data...%></div>
		</div>
		<% end %>
		<% if ipkg.installed("kcptun") or is_finded("kcptun*") then %>
		<div class="cbi-value">
			<label class="cbi-value-title"><%:Kcptun Client%></label>
			<div class="cbi-value-field" id="_kcptun_status"><%:Collecting data...%></div>
		</div>
		<% end %>
		<div class="cbi-value">
			<label class="cbi-value-title"><%:China Connection%></label>
			<div class="cbi-value-field">
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Check%>" onclick="return check_connect(this,'china')" />
				<font id="_china_status"></font>
			</div>
		</div>
		<div class="cbi-value">
			<label class="cbi-value-title"><%:Foreign Connection%></label>
			<div class="cbi-value-field">
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Check%>" onclick="return check_connect(this,'foreign')" />
				<font id="_foreign_status"></font>
			</div>
		</div>
		<div class="cbi-value">
			<label class="cbi-value-title"><%:Server Check%></label>
			<div class="cbi-value-field">
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Check%>" onclick="return check_port(this)" />
				<input id="clear_check_port_btn" type="button" class="cbi-button cbi-button-remove" style="display:none" value="<%:Clear%>" onclick="return clear_check_port(this)" />
				<font id="_server_status"></font>
			</div>
		</div>
		<div class="cbi-value">
			<label class="cbi-value-title"></label>
			<div class="cbi-value-field">
				<a class="cbi-button cbi-input-button" href="http://www.ip111.cn/" target="_blank">IP111.cn</a>
			</div>
		</div>
	</fieldset>
</fieldset>