<%+header%>

<script type="text/javascript">//<![CDATA[

	String.prototype.replaceAll = function(search, replacement) {
	    var target = this;
	    return target.replace(new RegExp(search, 'g'), replacement);
	};

	function changePath(e) {		
		var path = document.getElementById("currentpath").value;
		path = path.replace("//", "/");
		document.getElementById("currentpath").value = path;
		openpath(null, path);
	}

    function removePath(path, isDir) {
        var currpath = document.getElementById("currentpath").value;
        var c = confirm('Are you sure to remove '+path+' ?');
        if (c) {
            iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_delete")%>', {
                path:path,
                isdir:isDir
            },function(x, ifc){
                update_list(currpath);
            });
        }
    }

    function renamePath(filepath, filename) {
        var currpath = document.getElementById("currentpath").value;
        var newname = prompt('Insert new name:', filename);
        if (newname) {
            var newpath = currpath+'/'+newname;
            newpath = newpath.replace("//", "/");
            iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_rename")%>', {
                filepath: filepath,
                newpath: newpath
            },function(x, ifc){
                update_list(currpath);
            });
        }
    }

	function gotopath(obj, isBack, event){
		isBack = isBack || false;
		if (typeof event !== "undefined") {
			if (e.keyCode !== 13) {
		        return;
		    } else {
				parentFolder = obj.value;		    	
		    }
		}
		//document.getElementById("currentpath").value = obj.getAttribute("data-path");	
		var parentFolder = (document.getElementById("currentpath").value === "/") ? "" : document.getElementById("currentpath").value;
		var path = ((!isBack) ? parentFolder+"/" : "")+obj.getAttribute("data-path")
	
		path = path.replace("//", "/");
		
		update_list(path);
	}

	var iwxhr = new XHR();

	function openpath(obj, path) {
		var filename = null;
		if (path) {
			var pathspl = path.split('/');
			if (pathspl.length) {
				filename = pathspl[pathspl.length-2];
			}
		}
		path = path || obj.getAttribute("data-path").replaceAll(' ', '\\ ');
		filename = filename || obj.getAttribute("data-filename");
		
		iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_open")%>', {
			path:path,
			filename:filename,
		},function(x, ifc){});
	}

	function update_list(path) {		
		path = path || "/";

        document.getElementById("list").style.opacity=0.5;
        document.getElementById("list").style.pointerEvents='none';
		iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_list")%>', {path:path},
			function(x, ifc){
				var filenames=ifc;
				
				var r = path.split("/"); r.pop(); 
				var parentFolder = r.join("/");

				var listFiles="<table id=\"filebrowser-table\" class=\"cbi-section-table\"><tbody>";
				if (path !== "/") {
					listFiles+="<tr><td colspan=\"5\" onclick=\"gotopath(this, true)\" data-path='"+parentFolder+"'>..</td></tr>";
				}
				if (filenames != null) {
					for (var i = 0; i < filenames.length; i++) {
						var line = filenames[i];
						if (line != '') {
							var f = line.match(/(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+([\S\s]+)/);
							var o = {
								filename: f[9],
								fullpath : path+'/'+f[9],
								perms: f[1],
								isDir: (f[1][0] === 'd'),
								isLink: (f[1][0] === 'l'),
								isFile: (f[1][0] !== 'd' && f[1][0] !== 'l'),
								res: (f[1][0] === 'l')? (f[9]).split(' -> ')[1] : f[9],
								date: f[7]+' '+f[6]+' '+f[8],
								size:f[5],
								owner: f[3],
								icon: (f[1][0] === 'd') ? "folder-icon" : ((f[1][0] === 'l')? "link-icon" : "file-icon"),
								onclick: (f[1][0] === 'd') ? "gotopath(this)" : "openpath(this)",
								encoded_path: encodeURIComponent((path+'/'+f[9]).replaceAll('/', '<>')),
								encoded_filename: encodeURIComponent((f[9]).replaceAll('/', '<>'))
							};
							o.openLink = '<%=luci.dispatcher.build_url("admin", "system", "filebrowser_open")%>/'+o.encoded_path+'/'+o.encoded_filename;
                            o.removeLink = (!o.link) ? '<a class="file-op btn show-on-hover" onclick="removePath(\''+o.fullpath+'\',\''+o.isDir+'\');">Delete</a>' : '';
                            o.renameLink = (!o.link) ? '<a class="file-op btn show-on-hover" onclick="renamePath(\''+o.fullpath+'\',\''+o.filename+'\');">Rename</a>' : '';

							listFiles += '<tr draggable="true">'+
								'<td class="file-cell" style="width:55%;" onclick="'+o.onclick+'" '+
									'data-path="'+((o.isDir) ? o.res : o.fullpath)+'" '+
									'data-filename="'+o.filename+'" >'+
                                    '<div class="'+o.icon+'">'+
									((o.isFile) ? '<a href="'+o.openLink+'" target="_blank"><strong style="color:#404040;">'+o.filename+'</strong></a>'
									: '<strong style="color:#404040;">'+o.filename+'</strong>')+
                                    '</div>'+
                                    '<div class="file-ops">'+o.renameLink+o.removeLink+'</div>'+
								'</td>'+
								'<td class="owner-cell" style="text-align:right;">'+o.owner+'</td>'+
								'<td class="date-cell" style="text-align:right;">'+o.date+'</td>'+
								'<td class="size-cell" style="text-align:right;">'+o.size+'</td>'+
								'<td class="perms-cell" style="text-align:right;">'+o.perms+'</td>'+
                            '</tr>';
						}
					}					
				}
				listFiles += "</table>";
				document.getElementById("list").innerHTML=listFiles;
                document.getElementById("list").style.pointerEvents='auto';
                document.getElementById("list").style.opacity=1;
			}
		)
		window.history.pushState(null, null, '?path='+path+'');
		document.getElementById("currentpath").value = (path === "") ? "" : path;
        document.getElementById("upload-dir").value = ((path === "") ? "" : path)+"/";
		return false;
	};


//]]></script>

<style>
#currentpath {
	margin: 20px 0;
}
table strong {
	padding-left: 8px;
}
table tr td:hover {
	cursor:pointer;
}
table tr td .show-on-hover {
    display: none;
}
table tr td:hover .show-on-hover {
    display: inline;
}
.file-cell {
    position: relative;
}
.file-ops {
    position: absolute;
    left: calc(100% - 150px);
    top:10px;
}
.file-op {
    display: inline;
}
.file-icon, .folder-icon, .link-icon {
    position: relative;
    padding-left: 16px;
}

.file-icon:before, .folder-icon:before, .link-icon:before {
    position: absolute;
    width:16px;
    height:16px;
    left: 0;
    content: '';
    background-repeat: no-repeat;
}
.file-icon:before {
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAKUnAOLp8ElVa0NLXIivyJXK/D5FVYm77N7n7ykxQ5rA1svM0YS8O4C4OJXJSInAP5fLS362N4/ERJLHR5DFRdXb5JbKStXn8HqzM4vAQJ7O+1Jhe1dwkezx9nKsLeXt9XaXtKTR+7HX/PL2+sDf/bvc/avU+7ba/P///////////////////////////////////////////////////////////////////////////////////////////////////yH5BAEAAD8ALAAAAAAQABAAAAaQwJNwSBz+jidLqZRoDgaf6OeELFk8HGzWwzVsqKeSZ0Qmk0gjkcErTIjK5bNormm/4WSTKSSqn9x4JHohJX1CA3cjZ3uEhQGHiYNLICAejycfImeCjZQZHgJCHxyLnSAZGQChmKSSngQEBwWimnuTqLAcsycbFCJbAMEABxwKCKIbyRoaAQECAgUFCH5F1URBADs=');
}
.folder-icon:before {
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAMZ6ABJFcRdKdBhKdBhKdRlKdBlLdRlLdh9ReyVVfzBfiDhokjtqkj9skkRtkUFxmkFxm0JxmUJxmkNymkRymlCTy1OWzmaUvFWY0FaZ0Fib0lic022ZwVqd1Fud1Vye1l2g116g2F6h2F+i2WCj2mGk22Kk22Ol3GSl3WSm3WWn3mao3mao32ep4Giq4Gir4Wmr4mms42qs42qt42ut5Gyu5Gyu5W2v5W6v5m6w5m+x53Cx53Cy6HGz6ZatwXK06XK06oWx2HO163m06nO263S27Hm16nu16nW37Xa37Xy37H247H647Xi673i68Hy67nm78IC67nu88o654YK87n+98ZC64oK98YG+836/9YS+8YW/84a/8oTB9IjA85S/54nC9IbD94rD9YjF+Y7G94vI+5HH+YzJ/JHJ+ZDK/ZTL/JjP/p3O/ZrR/5zR/6nT+qrU+6fZ/8nV37Da/7Ha/7Hb/7bg/9Lc5e7y9f7+/v///0+Syk+Syk+Syk+Syk+Syk+SyiH+TkNyZWF0ZWQgYnkgS2V2aW4gTG9ja2UsIDIwMTEtMDMtMDQgZm9yIEx1Q0kuICBSZWxlYXNlZCBpbnRvIHRoZSBQdWJsaWMgRG9tYWluLgAh+QQBCgB/ACwAAAAAEAAQAAAHxYB/goOEhX94eYmKhoN5DQMCkQBxjH95A3J0c3J1DHmMeQJzb6RuQD12qal3iAZeUrBVGwkRDg4PCgiJBwsTEhMQFmhcV1RObQKJAXBmZGJgTUQ+OTUvYcmhbFhRTEc/OjYxLCha2AJqT0hBOzcyLSklIlYEiQJpQzw4My4qJiIfHKCYO5ODxosVJ0aA6JDhghJ6ocbAGEcihAcNGCpQKAKxwJovXbZkmQJlSRIjQsoUSNSgQKSXAgjIJFCgQR5EinLqvBkIADs=');
}
.link-icon:before {
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAMQfAJfL/HKQruzx9uXt9YmwytXb5Mfj/r3e/VdwkUlVa/L2+qvU+2Sd4bXZ/KPQ+4m77FJhe6/S5Gmg4kNLXNXn8GCa4ZrA1qjL3t7n7ykxQz5FVeLp8HyhvcvM0f///////yH5BAEAAB8ALAAAAAAQABAAAAWUoCeO5PidHhVFl2URBMcFgYdG1CDo++A/CJsnMjAYjYek4gEUXRRHQ1KpUEBEFqhRMm14rVithHvwNhZgDwE6ZrgrlQU6IVofJG4GPO4Y0D0cAkluZwsOhwMTIoFJDXGGhwAbih4Bgl5ykAAAGBoiAQplhZGbAp4eCAUKPRutGxgCHRmfCLUQEAkJExMaGhlXJcElIQA7');
}

@media (max-width: 767px) {
    .perms-cell, .owner-cell, .size-cell, .date-cell {
        display: none;
    }
}

</style>

<h2><a id="content" name="content">File browser</a></h2>
<input type="text" id="currentpath" onkeypress="changePath()" style="width:100%;" value="/"/>
<div style="padding-bottom: 15px;">
    <span><strong>Files list:</strong></span>
    <a id="upload-toggle" href="#" class="pull-right">Upload file</a>
</div>
<div id="upload-container" style="display:none; padding: 15px 0;">
    <form method="post" action="<%=luci.dispatcher.build_url('admin', 'system', 'filebrowser_upload')%>" enctype="multipart/form-data">
        <input id="upload-dir" type="hidden" name="upload-dir" value="" />
        <input id="upload-filename" type="hidden" name="upload-filename" value="" />
        <input id="upload-file" name="upload-file" type="file" style="width: calc(100% - 90px) !important; border:1px solid #eee;" />
        <button type="submit" class="cbi-button cbi-input-apply pull-right" style="padding-left:22px;">Upload</button>
    </form>
</div>
<div id="list"></div>
<script>
    var uploadToggle = document.getElementById('upload-toggle');
    uploadToggle.onclick = function() {
        var div = document.getElementById('upload-container');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        }
        else {
            div.style.display = 'block';
        }
    };

    var path = null;
    if (location.search) {
        var params = (location.search).split('=');
        if (params.length > 0) {
            path = decodeURIComponent((params[1]).replace("\"", ""));
        }
    }

    var uploadinput = document.getElementById('upload-file');
    var uploadinputfilename = document.getElementById('upload-filename');
    uploadinput.addEventListener('change', function()
    {
        var fullPath = uploadinput.value;
        if (fullPath) {
            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                filename = filename.substring(1);
            }
            uploadinputfilename.value = filename;
        }
    });
update_list(path);
</script>
<%+footer%>
